<style>
  @import url('https://fonts.googleapis.com/css2?family=Dosis:wght@500&family=Urbanist:wght@100&display=swap');
</style>


<nav class="navbar navbar-expand-lg navbar-light bg-light justify-content-between fixed-top ">
    <div class="container justify-content-center">
        <a class="navbar-brand font-weight-light display:inline;" style="font-family: 'Dosis', sans-serif; font-size: 25px;">
          <span style="font-weight: 600;">BEA</span>ts</a>  
        
        
          <a style="margin-right: 20px;"></a> 
       <div class="collapse navbar-collapse" id="navbarSupportedContent"> 
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active" routerLinkActive="active" *ngIf="isAuthed">
            <a class="nav-link font-weight-light" style="font-size: large;" routerLink="/home">Home <span class="sr-only">(current) </span></a>
            </li> 
            <li class="nav-item active" routerLinkActive="active" *ngIf="!isAuthed">
              <a class="nav-link font-weight-light" routerLink="/auth" >Authenticate</a>
            </li>
        </ul>
        </div>
        
    </div> 

   <app-search-bar></app-search-bar>


    <div class="container d-flex justify-content-end">
        <ul class="navbar-nav" *ngIf="isAuthed">
            <li class="nav-item dropdown">
                <a class="nav-link dropdown-toggle font-weight-light" id="navbarDropdown" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false" style="font-size: large;">
                  Me
                </a>
                <div class="dropdown-menu dropdown-menu-right" aria-labelledby="navbarDropdown">
                  <a class="dropdown-item" style="cursor: pointer; font-family: Dosis;" routerLink="/add-new-album" *ngIf="albumService.getUser() == 'admin@admin.com'">Add an album</a>
                  <div class="dropdown-divider" *ngIf="albumService.getUser() == 'admin@admin.com'"></div>
                  <a class="dropdown-item" style="cursor: pointer; font-family: Dosis;" (click)="onLogout()">Logout</a>
                </div>
              </li>
          </ul>
    </div>   

  </nav>