<nav class="navbar fixed-bottom navbar-light bg-light">
  <div class="container">
    <div class="justify-content-center align-items-center">

      <a class="navbar-brand font-weight-light;" style="font-family: 'Dosis', sans-serif; font-size: 17px;">/
        <span style="font-weight: 600;">BEA</span>ts  /</a>
    
        <div class="row">
          <p class="font-weight-light" style="font-size: 13px; display:inline;">Copyright © 2021 Bernarda Crnogorac</p>
          <a style="margin-right: 5px;"></a>
          <a style="margin-right: 5px;"></a>
          <a href="https://hr.linkedin.com/in/bernardacrnogorac" style="display:inline;" class="linkedIn">
            <img src="https://eaes.eu/wp-content/uploads/2017/05/linkedin-logo.png" 
                  alt="LinkedIn"
                  style="width: 17px; height: 17px; display:inline;"
                  class="align-baseline">
          </a>
        </div>
        </div>
    </div>
</nav>