<div class="row">
    <div class="col kontenjer">
        <app-new-releases-expanded></app-new-releases-expanded>
    </div>
    <div class="col kontenjer">
        <router-outlet></router-outlet>
    </div>
</div>
