<div class="row">
    <div class="col">
        <app-upcoming-albums-expanded></app-upcoming-albums-expanded>
    </div>
    <div class="col">
        <router-outlet></router-outlet>
    </div>
</div>