<div class="view " style="background-image: url('https://uc92ba02e250007f40dbd4d5ce36.previews.dropboxusercontent.com/p/thumb/ABSKs96060C5jPo85zOG9zAh7HpKkOKosBTdyFYz6DZ_dl_35-6QrM9f_eSsHMY-Sa7_qXLSvdSDxsLuj1xwzB95NbaNEY8Lwd6tkPlCgTPn8mfIiv0SwhUOqA9zvANsXRtwSRHqZ5bdk6PZp0bCUDzZeHkXXg2fdP7qmDOlL3uzhzO1wtj6JKn8oYKfU3UiLmOnA4N-IVYzFxEXyxODCOfmFbj858kWqZ2mHLiYhtdYonFHe5jkeddTmAlrVsy9PPHxSiqoZNr2mFH0fzMSWQgVgQP-POpO-VJu_c0IaXE3kmPiycSfE7JTFGt0-7XdI_SGoi8yWM0BgfCpIhY1LR7TEkHDfdTiTNF40Z9n-pxt1klfwrUTqTNGqaMT-gt-6MvbEBoBSvRUDhYKc1irXbwg/p.png?fv_content=true&size_mode=5'); background-repeat: no-repeat; background-size:auto; background-position: center center;">
  <div class="mask rgba-gradient align-items-center">

    <div class="container">
      
      <div class="row d-flex justify-content-center">
        <div class="col-md-5" style="margin-top: 250px;">
          

            <div class="alert alert-danger" *ngIf="error">
                <p>{{ error }}</p>
            </div> 
            
        <div *ngIf="isLoading" style="text-align: center;">
          <app-loading-spinner></app-loading-spinner>
        </div>
        <form #authForm="ngForm" (ngSubmit)="onSubmit(authForm)" *ngIf="!isLoading">
          <div class="form-group">
            <label for="email" style="font-family: Dosis; font-size: 20px;">E-Mail</label>
            <input
              type="email"
              id="email"
              class="form-control"
              ngModel
              name="email"
              required
              email
            />
          </div>
          <div class="form-group">
            <label for="password" style="font-family: Dosis; font-size: 20px;">Password</label>
            <input
              type="password"
              id="password"
              class="form-control"
              ngModel
              name="password"
              required
              minlength="6"
            />
          </div>
          <div>
            <button
              class="btn btn-secondary"
              type="submit"
              [disabled]="!authForm.valid"
            >
              {{ isLoginMode ? 'Login' : 'Sign Up' }}
            </button>
            |
            <button class="btn btn-secondary" (click)="onSwitchMode()" type="button">
              Switch to {{ isLoginMode ? 'Sign Up' : 'Login' }}
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
</div>


