.kontenjer1{
    height: 80vh;
    overflow: hidden;
    overflow-x: hidden;
}
.kontenjer2{
    height: 80vh;
    overflow: scroll;
    overflow-x: hidden;
}

.row{
    overflow-x: hidden;
    overflow-y: hidden;
}