<div class="row">
    <div class="col kontenjer1">
        <app-highest-rated-expanded></app-highest-rated-expanded>
    </div>
    <div class="col kontenjer2">
        <router-outlet></router-outlet>
    </div>
</div>