<div class="d-flex justify-content-center">

    <div class="d-flex flex-column">
        <div class="p-2">
        <h3 style="font-family: Dosis;">Add a new album</h3>
        <hr>
        </div>
        <div class="p-2">
            <form #myForm="ngForm" (ngSubmit)="onSubmit(name.value, artist.value, description.value, releaseDate.value, imgURL.value, myForm, spotify.value, youtube.value)">
                <div class="form-row">

                  <div class="form-group col-md-6">
                    <label for="inputAlbumName" style="font-family: Dosis;">Album Name</label>
                    <input name="name" type="text" class="form-control" ngModel id="inputAlbumName" placeholder="The Wall" #name required>
                  </div>

                  <div class="form-group col-md-6">
                    <label for="inputArtist" style="font-family: Dosis;">Artist</label>
                    <input name="artist" type="text" class="form-control" ngModel id="inputArtist" placeholder="Pink Floyd" #artist required>
                    <div class="text-danger" style="font-size: 13px;" *ngIf="albumService.checkIfAlbumExists(name.value, artist.value)">Album already exists!</div>
                  </div>
                  
                </div>

                <div class="form-group">
                  <label for="input">Description</label>
                  <textarea name="description" type="text" rows="5" class="form-control" ngModel id="inputDescription" placeholder="The Wall is an album by..." #description required></textarea>
                </div>

                <div class="form-group">
                    <label for="inputAddress2">Release date</label>
                    <input name="date" type="text" class="form-control" ngModel id="releaseDate" required placeholder="yyyy/dd/mm" #releaseDate>
                  </div>
                <div class="form-group">
                  <label for="inputAddress2">Image URL</label>
                  <input name="imgURL" type="text" class="form-control" ngModel id="inputImgURL" required #imgURL>
                </div>
                <div class="form-group">
                    <label for="inputAddress2">Spotify URL</label>
                    <input name="spotify" type="text" class="form-control" ngModel id="inputSpotifyURL" #spotify>
                  </div>
                  <div class="form-group">
                    <label for="inputAddress2">YouTube URL</label>
                    <input name="youtube" type="text" class="form-control" ngModel id="inputYouTubeURL" #youtube> 
                  </div>
                  <button class="btn btn-secondary justify-content-center" type="submit" [disabled]="!myForm.valid">Submit</button>

            </form>
        </div>
      </div>
    
</div>
