 <div class="row">
        <div class="col kontenjer">
            <app-album-item-expanded
            *ngFor="let albumItem of allAlbums; let i = index"
                [album]="albumItem"
                [index]="i"></app-album-item-expanded>
        </div>
    <div class="col kontenjer">
        <router-outlet></router-outlet>
    </div>
</div>
