<div class="media">
    <img 
    class="align-self-center mr-3 shadow-sm p-2 mb-5" 
    [src]=" album.imagePath "
    alt="{{ album.name }}"
    style="width: 300px; height: 300px; background-color: rgb(255, 255, 255);">
    <div class="media-body">
      <hr>
      <h4 class="mt-0" style="display:inline; ">{{ album.name }} </h4>
      <h5 style="display:inline;" class="align-baseline"></h5>
        <img src="https://freepngimg.com/thumb/star/19-star-png-image-thumb.png"
             style="width: 15px; height: 15px;"
             class="align-baseline">

      <a style="margin-right: 5px;"></a>
      <h5 style="display:inline;" class="align-text-bottom font-weight-light">{{ albumService.getAlbumRating(album) }}</h5>
      
      <a style="margin-right: 5px;"></a> 
        <a style="margin-right: 5px;"></a>

        <a [href]="album.linkSpotify" *ngIf="album.linkSpotify ? true : false">
        <img src="https://seeklogo.com/images/S/spotify-2015-logo-560E071CB7-seeklogo.com.png" 
             alt="Spotify"
             style="width: 20px; height: 20px; display:inline;"
             class="align-text-bottom">
          </a>
        <a style="margin-right: 5px;"></a> 
        <a style="margin-right: 5px;"></a>
          <a [href]="album.linkYoutube" *ngIf="album.linkYoutube ? true : false">
            <img src="https://www.pinclipart.com/picdir/middle/530-5305220_youtube-icon-flat-red-play-button-logo-vector.png" 
                 alt="Youtube"
                 style="width: 23px; height: 20px; display:inline;"
                 class="align-text-bottom">
              </a>
      <p style="display:inline; margin-left: 70px; color: gray;" class="font-weight-light" *ngIf="album.ratings.length > 0">Rated by {{album.ratings.length }} {{ album.ratings.length == 1 ? 'user' : 'users'}} </p>
      <h6>{{ album. artist }}</h6>
      <p class="mb-0 font-weight-light" style="text-align: justify; margin-right: 20px;">{{ album.description }}</p>
      <p>Released on: {{ album.releaseDate | date: 'mediumDate'}}</p>
      <hr>
    </div>
  </div>
  

<div class="bg-light shadow-sm p-3 mb-5 rounded" style="margin-right: 20px; ">
  <br>
    <div class="row justify-content-center">
      <br>
      <div class="font-weight-light">{{ !isRated ? 'Rate the album!' : 'Album already rated!' }}</div>
    </div>
    <br>
    
    <div *ngIf="!isRated">
    
    <hr style="width: 5vh;">
      <div class="row justify-content-center">
          <button class="votingDugme btn card-text btn-lg" (click)="onAddRating(album, 1)">1</button> 
          <a style="margin-right: 5px;"></a> 
          <button class="votingDugme btn card-text btn-light btn-lg" (click)="onAddRating(album, 2)">2</button> 
          <a style="margin-right: 5px;"></a>
          <button class="votingDugme btn card-text btn-light btn-lg" (click)="onAddRating(album, 3)">3</button> 
          <a style="margin-right: 5px;"></a>
          <button class="votingDugme btn card-text btn-light btn-lg" (click)="onAddRating(album, 4)">4</button> 
          <a style="margin-right: 5px;"></a>
          <button class="votingDugme btn card-text btn-light btn-lg" (click)="onAddRating(album, 5)">5</button>
      </div>
      <br><br>
    </div>

    <label style="font-family: Dosis; font-size: 30px; margin-left: 10px; display: inline;">Comments</label>
    <p style="font-style: italic; font-family: Dosis; display: inline; margin-left: 10px;" *ngIf="!albumService.getComments(album)">No comments yet!</p>
    <hr style="margin-top: 0px; margin-right: 20px;">
    
    <form #form="ngForm" (ngSubmit)="onAddComment(album, text.value, form)">
      <div class="form-group">

        <input
          style="margin-left: 60px; margin-bottom: 5px; width: 80%; display: inline; margin-right: 5px;" 
          placeholder="Add comment"
          type="text"
          class="form-control"
          ngModel
          name="text"
          required

          #text          
          />
      
        <button type="submit" class="btn btn-secondary align-baseline" style="display: inline; font-size: 15px; width: 10%;">Add</button>
      </div>
    </form>

    <div class="komentari" style="margin-left: 60px; margin-right: 80px;">
      <div *ngFor="let comment of albumService.getComments(album)" style="margin-bottom: 5px; margin-bottom: 15px;" class="border-top-0 shadow-sm">
      
          <div class="col">
            <h4 style="font-family: Dosis; font-style: italic; display: inline; font-size: 17px; color: gray;">{{ comment.mail + ':'}}</h4>
            <p style="display: inline; margin-left: 5px; font-size: 18px;" class="text-break font-weight-light">{{ comment.text }}</p>
          </div>
      </div>
    </div>
    <br>
  </div>

