
<div class="d-flex flex-row">
    <a 
        class="list-group-item list-group-item-action shadow-sm p-2 mb-5"
        style="pointer-events: none; border: 0px; ">


        <div class="container">
                  <img
                        src="{{ album.imagePath }}"
                        alt="{{ album.name }}"
                        class="img-responsive"
                        style="width: 150px; height: 150px; margin-bottom: 10px;">
                        <h5 style="max-width: 150px; font-family: Arial;">{{ album.name }}</h5>
                        {{ album.artist }}
       </div>
    </a>
</div>
