<div class="dropdown" *ngIf="isAuthed">
  
  <button style="display: inline; " class="btn btn-light font-weight-light dropdown-toggle " type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
    <img src="https://icons-for-free.com/iconfiles/png/512/search+icon-1320186817137746225.png" alt="search icon" style="display: inline; width: 17px; height: 17px; margin-right: 5px;">
    Click to search
  </button>
  <div class="dropdown-menu" aria-labelledby="dropdownMenu2">

    <a class="dropdown-item">
      <form class="form-inline container justify-content-center" >
        <input class="form-control mr-sm-2 col-md-12" type="search" placeholder="Try 'The Wall'" [(ngModel)]="searchText" name="Search bar" aria-label="Search">
      </form>
    </a>

    <div class="kontenjer" style="max-height: 500px; width: 380px;">
      <a class="dropdown-item" type="button" *ngFor="let album of albums | filter: searchText">

            <a *ngIf="searchText" class="row container" routerLinkActive="true" [routerLink]= "'/all-albums/' + albumService.getAlbumIndex(album)" >

              <div class="col">
                <img [src]="album.imagePath" alt="album cover" style="height: 100px; width: 100px">
              </div>

              <div class="col">
                <div class="row" style="font-family: Dosis; color: black">
                  {{ ( album.name.length > 20) ? (album.name | slice:0:20) + '..' : album.name }}
                </div>
                <div class="row" style="font-family: Dosis; color: gray;">
                  {{ album.artist }}
                </div>
              </div>
            </a>
      </a>
  </div>
  </div>
</div>

