<div class="media">
    <img 
    class="align-self-center mr-3 mr-3 shadow-sm p-2 mb-5" 
    [src]=" album.imagePath "
    alt="{{ album.name }}"
    style="width: 300px; height: 300px;">
    <div class="media-body">
      <hr>
      <h4 class="mt-0" style="display:inline; ">{{ album.name }} </h4>
      <h5 style="display:inline;" class="align-baseline"></h5>
        <img src="https://freepngimg.com/thumb/star/19-star-png-image-thumb.png"
             style="width: 15px; height: 15px;"
             class="align-baseline">
        {{ albumService.getAlbumRating(album) }}
      <h6>{{ album. artist }}</h6>
      <p class="mb-0 font-weight-light" style="text-align: justify; margin-right: 20px;">{{ album.description }}</p>
      <p>Release date: {{ album.releaseDate | date: 'mediumDate'}}</p>
      <hr>
    </div>
  </div>
