<div class="container h-100 ">
    <div class="row h-100 justify-content-center align-items-center">
        <div class="form-group bg-light shadow-sm p-3 mb-5 rounded">
          <h5 class="font-weight-light">Please select an album!</h5>
        </div>
    </div>
  </div>