<div class="d-flex bd-highlight">
  
    <div class="p-2 flex-fill bd-highlight">
      <div class="d-flex flex-column bd-highlight mb-3">
        <div class="p-2 bd-highlight">
            

        <a
            style="cursor: pointer;"
            routerLinkActive="true"
            routerLink="/highest-rated-albums"
           
        >
            <div class="container list-group-item" style="border: 0px; ">
                <div class="row">
                    <div class="col">
                        <h3 class="col-md-5" style="font-family: Dosis; pointer-events: none; color: black">Highest Rated Albums</h3>
                        <hr>
                        <div class="row" style="margin-left: 20px;">
                                <app-album-item 
                                *ngFor="let albumItem of albumsRated; let i = index"
                                [album]="albumItem"
                                [index]="i"></app-album-item>

                        </div>
                    </div>
                </div>
            </div>
        </a>

        </div>
        <div class="p-2 bd-highlight">

            <a
            style="cursor: pointer;"
            routerLinkActive="true"
            routerLink="/upcoming-albums"
        >
            <div class="container list-group-item" style="border: 0px;">
                <div class="row">
                    <div class="col">
                        <h3 class="col-md-5" style="font-family: Dosis; pointer-events: none; color: black">Upcoming Albums</h3>
                        <hr>
                        <div class="row" style="margin-left: 20px;">
                            <app-album-item
                            *ngFor="let albumItem of albumsUpcoming; let i = index"
                            [album]="albumItem"
                            [index]="i"></app-album-item>

                            </div>
                        </div>
                </div>
            </div>
        </a>
     
        </div>
      </div>
    </div>
  
    <div class="p-2 flex-fill bd-highlight">
        <div class="d-flex flex-column bd-highlight mb-3">
            <div class="p-2 bd-highlight">

                <a
                style="cursor: pointer;"
                routerLinkActive="true"
                routerLink="/new-releases"
            >
            <div class="container list-group-item" style="border: 0px; ">
                    <div class="row">
                        <div class="col">
                            <h3 class="col-md-5" style="font-family: Dosis; pointer-events: none; color: black">New Releases</h3>
                            <hr>
                            <div class="row" style="margin-left: 20px;">
                                <app-album-item
                                *ngFor="let albumItem of albumsNewReleases; let i = index"
                                [album]="albumItem"
                                [index]="i"></app-album-item>
    
                            </div>
                        </div>
                    </div>
                </div>
            </a>

            </div>

            <div class="p-2 bd-highlight">
            <br><br><br><br><br><br>
                    
                        <div class="row justify-content-center">
                                   <button 
                                        class="btn btn-light btn-lg font-weight-light shadow-sm p-3 mb-5 rounded"
                                        routerLinkActive="true"
                                        routerLink="/all-albums">Browse all albums!</button>
                        
                    </div>
            </div>
        </div>
    </div>

    

</div>