<div class="row">
    <div class="col">
        <h2 class="font-weight-light"
            style="margin-left: 20px; margin-right: 20px; font-family: Dosis; display: inline;">Highest Rated Albums</h2>
            <p style="display: inline; font-family: Dosis; font-style: italic;">Browse highest rated albums!</p><hr>
            <app-album-item-expanded
           *ngFor="let albumItem of albumsRated; let i = index"
            [album]="albumItem"
            [index]="i"></app-album-item-expanded>
    </div>
</div>